.wrapper{max-width: 960px;
margin-right: auto;
margin-left: auto;
}
		
.centered{
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    }
.words{
font-size: 1.25em;
text-align: center;
font-family: sans-serif;
line-height: 1.5;
}
.quote{
    font-style: italic;
    text-align: center;
    font-size: 1.25em;
    }
.image{
padding: 0 15px;
float: left;
display: block;
}
.bio{
margin-top: 20px;
font-size: 1.25em;
text-align: center;
font-family: sans-serif;
line-height: 1.5;
    }
@media only screen and (max-width: 500px) {
body{
line-height: 1;
font-size: .5em;
}
}
