.wrapper {
  font-size: 100%;
  font: georgia;
  line-height: .8em;
  background-color: azure;
  font-color: white;
  padding-top: 150px;
}
.headline {
  font-size: 5em;
  text-align: center;
  }
.name {
  text-align: center;
}
.text {
 font-size: 3.4em;
 text-align: center;
}

